<div class="pagecontainer">

<!-- List of Recipe Titles -->
 <div class="flex-parent-element">

    <div class="flex-child-element">
 <p>Select a recipe to view</p>
 <ul>
    <li *ngFor="let r of recipeList" (click)="onRecipeClick(r.title)">
       
🥄 {{r.title}}

    </li>
 </ul>

    </div>
<!-- Full Recipe Display -->

    <div class="flex-child-element">

        <div *ngIf="!selectedRecipe">
            <h3>Your selected recipe will show here</h3> 
        </div>

        <app-fullrecipe [recipe]="selectedRecipe"></app-fullrecipe>


    </div>

 </div>


</div>
