/* .pagecontainer{
    background-color: white;
    padding: 20px;
    flex: 1;
} */
.linkslist {
    display: block;
}

.linkslist ul{
    display: block;
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

.linkslist li{
    padding: 5px;
    cursor: pointer;
    user-select: none;
    font-size: 16px;
    color: rgba(11, 11, 30);
    background-color: rgba(11, 11, 30, 0.2);
    border: solid 1px white;
    max-width: 90%;
}

ul {
    display: block;
    list-style-type:none;
}



.flex-parent-element {
    display: flex;
}

.flex-child-element{
    flex: 1;
    border: 2px solid rgba(11, 11, 30, 0.941);
    margin: 10px;
    padding: 20px;
}

.flex-child-element:first-child{
    margin-right: 20px;
}

