<div class="pagecontainer">

<!-- List of Recipe Titles -->
 <div class="flex-parent-element">

    <div class="flex-child-element">
 <p>Select a recipe to view</p>

 <ul>
    @for (rec of recipeWithIngredients; track rec) {
       <li>{{rec.recipe.title}}</li> 
    }
 </ul>

 <ul class="linkslist">
    
@for (r of recipeList; track r.id) {
   <li (click)="onRecipeClick(r.title); pickedRecipe(r)">

    🥄 {{r.title}}
    </li>
} 
 </ul>

    </div>
<!-- Full Recipe Display -->

    <div class="flex-child-element">
        <!-- This content in the div below only shows if there is NOT a selected recipe
         essentially, the default state before anything is touched. 
         could have an example recipe display or just a visual of multiple recipes -->
        <div *ngIf="!selectedRecipe">
            <h3>Your selected recipe will show here</h3> 
           <p>one day something random will go here</p>
        </div>

        <app-fullrecipe [recipe]="selectedRecipe"></app-fullrecipe>
       

    </div>

 </div>


</div>
