<div class="pagecontainer">
<div>
    <ul style="align-items: center;">
        @for (result of displayRecipeDetails; track result) {
            <a [routerLink]="['/', result.id]"> {{ result.title }}</a>
           <ul>
            <li>
            <app-ingredient [recipeTitle]="result.title"></app-ingredient> 
        
            </li>
        </ul>

        }
    </ul>
</div>
<div>
    @for (r of displayRecipeDetails; track $index) {
        <p>
            {{r.cook_time || 'No Cook time provided'}}, {{r.directions || 'No Directions provided'}}
        </p>
    }
</div>
</div>
