
<!-- Header at top of page with page name centered and navigation on right? -->
<div class="header">
    <div class="left">
        <nav class="navbar">
            <ul>
                <li>
                     <a routerLink="/">Home</a>   
                </li>
            <li>
               <a routerLink="/form">Add Recipe</a> 
            </li>
            
            </ul>
            
            
            </nav>
    </div>

    <div class="center">
    <h1>Stock and Savor</h1>
    <p> A Library of Family Recipes</p>

    </div>

    <div class="right">
        <img src="/spatula.png" alt="Spatula" height="125px"/>
    </div>

</div>
<div class="search-display">
    <app-search></app-search>
</div>


<router-outlet></router-outlet>


<div class="footer">

    <a href="https://www.flaticon.com/free-icons/kitchen-utensils" title="kitchen utensils icons">Kitchen utensils icons created by Konkapp - Flaticon</a>"
</div>