/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');


body {
    /* background-color: rgba(11, 11, 30, 0.941); */
    flex-direction: column;
    margin: 0;
    padding: 0;
}




.annie-use-your-telescope-regular {
  font-family: "Annie Use Your Telescope", cursive;
  font-weight: 400;
  font-style: normal;
}

.qwitcher-grypen-regular {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 400;
    font-style: normal;
  }
  
.qwitcher-grypen-bold {
    font-family: "Qwitcher Grypen", cursive;
    font-weight: 700;
    font-style: normal;
  }
  
