
@if (recipe) {

    <div>
      
    <p>Your selected recipe is:</p>
    <h3>
        {{recipe}}
    </h3>

    
    <app-ingredient [recipeTitle]="recipe"></app-ingredient>

  </div> 
  } 
 @else if(selectedRecPair) {
    <div>
    <p>{{selectedRecPair.recipe.title}}</p>
    <p>{{selectedRecPair.recipe.cook_time}} || No cook time provided</p>
    <p>{{selectedRecPair.ingredients}}</p>
    @for (ingredient of selectedRecPair.ingredients; track ingredient) {
       <p>{{ingredient}}</p> 
    }
    <p>{{selectedRecPair.recipe.directions}} || No directions provided</p>
 </div>
}
