
@if (selectedRecPair) {

   <div>
      <h3>{{selectedRecPair.recipe.title}}</h3>
      @if(selectedRecPair.recipe.cook_time){
         <p>{{selectedRecPair.recipe.cook_time}} </p>
      } 
      @else {<p>no cook time provided</p>}
      @for (ingredient of selectedRecPair.ingredients; track ingredient) {
         <p>{{ingredient.itemname}}</p> 
      }
      @if(selectedRecPair.recipe.directions){
         <p>{{selectedRecPair.recipe.directions}} </p>
      } 
      @else {<p><small>no directions provided</small></p>}
   </div>

  } 