

<div class="pagecontainer">
    <div class="flex-parent-element">
        <div class="flex-child-element">



            <div class="form">
            <h4>Create Recipe</h4>
            <hr>
            <label>If Recipe does not yet exist</label>
            <input type="text" id="title" [(ngModel)]="formRec.title" placeholder="Recipe Name"/>
            <input type="text" id="directions" [(ngModel)]="formRec.directions" placeholder="Directions" />
            <input type="text" id="cooktime" [(ngModel)]="formRec.cook_time" placeholder="cooktime" />
            <button type="submit" (click)="AddRecipeItem()">Add</button>



            <p>Add Ingredients</p>
            <label>Choose Recipe: </label>

            <select name="Select Recipe name" [(ngModel)]="formIng.recipe" class="custom-select">
            <option *ngFor="let r of multirecipeList" [value]="r.title">{{r.title}}</option>

            </select>

            <br>
            <input type="text" [(ngModel)]="formIng.qty" placeholder="quantity">

            <input type="text" [(ngModel)]="formIng.units" placeholder="measuring unit">
 
            <input type="text" [(ngModel)]="formIng.itemname" placeholder="Ingredient Name">
<button type="submit" (click)="ShowFormVariable()">To be working soon -- Add Additional</button>
<br>
<button type="submit" (click)="AddIngItem()">Submit Ingredients</button>




    </div>
</div>


<div class="flex-child-element">
<h1>{{formIng.recipe}}</h1>
@if (formIng.recipe){ 

    @for (ingredient of list_of_ingredients; track ingredient) {
        <p>{{ingredient.qty}} {{ingredient.units}} {{ingredient.itemname}}</p>
    }

}
<p>{{formRec.title}} {{formRec.cook_time}} {{formRec.directions}}</p>
<p>{{formIng.qty}} {{formIng.units}} {{formIng.itemname}}</p>
@if(confirmationMessage){
    <div>
    {{ confirmationMessage }}
    </div>
}

</div>
</div>

 </div>



