
<!-- 
<input type="text" [formControl]="searchControl" />
<button (click)="CallSearchRecipe()">Search Recipe</button>

<div>



</div>

<div *ngIf="isLoading">Loading...</div>
<div *ngIf="errorMessage">{{errorMessage}}</div>
<div *ngIf="!isLoading && recipeResult?.title">
    <h3 *ngIf="recipeResult?.title">{{recipeResult?.title}}</h3>
</div>

<div *ngIf="!recipeResult?.title && !isLoading && !errorMessage">
    <p>No Recipe Found. Please try another search</p>
</div>
 -->

 <input type="text" [(ngModel)]="searchControl" placeholder="Search for a recipe"/>
 <button (click)="search()">Search</button>